CentrosDeportivos/Web References/MembershipService/MembershipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/MembershipService/" name="MembershipService" targetNamespace="http://www.example.org/MembershipService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/MembershipService/">
      <xsd:element name="registerMember">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="member" type="tns:Member" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerMemberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string" />
            <xsd:element name="status" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Member">
        <xsd:sequence>
          <xsd:element name="code" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="surname" type="xsd:string" />
          <xsd:element name="NIF" type="xsd:string" />
          <xsd:element name="Province" type="xsd:string" />
          <xsd:element name="City" type="xsd:string" />
          <xsd:element name="VIP" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getMember">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMemberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="member" type="tns:Member" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateMember">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="member" type="tns:Member" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateMemberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:boolean" />
            <xsd:element name="message" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkMember">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="memberCode" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkMemberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string" />
            <xsd:element name="ok" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendRegistration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendRegistrationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateMember">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="email" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateMemberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="valid" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="existsMember">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="email" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="existsMemberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string" />
            <xsd:element name="exists" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMemberCode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="email" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMemberCodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="memberCoder" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getNIF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="email" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getNIFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NIF" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendRegistrationResponse">
    <wsdl:part name="parameters" element="tns:sendRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="registerMemberRequest">
    <wsdl:part name="parameters" element="tns:registerMember" />
  </wsdl:message>
  <wsdl:message name="getMemberResponse">
    <wsdl:part name="parameters" element="tns:getMemberResponse" />
  </wsdl:message>
  <wsdl:message name="getMemberCodeRequest">
    <wsdl:part name="parameters" element="tns:getMemberCode" />
  </wsdl:message>
  <wsdl:message name="sendRegistrationRequest">
    <wsdl:part name="parameters" element="tns:sendRegistration" />
  </wsdl:message>
  <wsdl:message name="getMemberRequest">
    <wsdl:part name="parameters" element="tns:getMember" />
  </wsdl:message>
  <wsdl:message name="updateMemberResponse">
    <wsdl:part name="parameters" element="tns:updateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="getNIFRequest">
    <wsdl:part name="parameters" element="tns:getNIF" />
  </wsdl:message>
  <wsdl:message name="registerMemberResponse">
    <wsdl:part name="parameters" element="tns:registerMemberResponse" />
  </wsdl:message>
  <wsdl:message name="checkMemberResponse">
    <wsdl:part name="parameters" element="tns:checkMemberResponse" />
  </wsdl:message>
  <wsdl:message name="validateMemberResponse">
    <wsdl:part name="parameters" element="tns:validateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="checkMemberRequest">
    <wsdl:part name="parameters" element="tns:checkMember" />
  </wsdl:message>
  <wsdl:message name="updateMemberRequest">
    <wsdl:part name="parameters" element="tns:updateMember" />
  </wsdl:message>
  <wsdl:message name="getNIFResponse">
    <wsdl:part name="parameters" element="tns:getNIFResponse" />
  </wsdl:message>
  <wsdl:message name="existsMemberResponse">
    <wsdl:part name="parameters" element="tns:existsMemberResponse" />
  </wsdl:message>
  <wsdl:message name="validateMemberRequest">
    <wsdl:part name="parameters" element="tns:validateMember" />
  </wsdl:message>
  <wsdl:message name="existsMemberRequest">
    <wsdl:part name="parameters" element="tns:existsMember" />
  </wsdl:message>
  <wsdl:message name="getMemberCodeResponse">
    <wsdl:part name="parameters" element="tns:getMemberCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="MembershipService">
    <wsdl:operation name="registerMember">
      <wsdl:input message="tns:registerMemberRequest" />
      <wsdl:output message="tns:registerMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMember">
      <wsdl:input message="tns:getMemberRequest" />
      <wsdl:output message="tns:getMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateMember">
      <wsdl:input message="tns:updateMemberRequest" />
      <wsdl:output message="tns:updateMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkMember">
      <wsdl:input message="tns:checkMemberRequest" />
      <wsdl:output message="tns:checkMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="validateMember">
      <wsdl:input message="tns:validateMemberRequest" />
      <wsdl:output message="tns:validateMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="existsMember">
      <wsdl:input message="tns:existsMemberRequest" />
      <wsdl:output message="tns:existsMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMemberCode">
      <wsdl:input message="tns:getMemberCodeRequest" />
      <wsdl:output message="tns:getMemberCodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNIF">
      <wsdl:input message="tns:getNIFRequest" />
      <wsdl:output message="tns:getNIFResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MembershipServiceSOAP" type="tns:MembershipService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerMember">
      <soap:operation soapAction="http://www.example.org/MembershipService/registerMember" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMember">
      <soap:operation soapAction="http://www.example.org/MembershipService/getMember" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMember">
      <soap:operation soapAction="http://www.example.org/MembershipService/updateMember" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkMember">
      <soap:operation soapAction="http://www.example.org/MembershipService/checkMember" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateMember">
      <soap:operation soapAction="http://www.example.org/MembershipService/validateMember" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existsMember">
      <soap:operation soapAction="http://www.example.org/MembershipService/existsMember" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMemberCode">
      <soap:operation soapAction="http://www.example.org/MembershipService/getMemberCode" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNIF">
      <soap:operation soapAction="http://www.example.org/MembershipService/getNIF" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MembershipService">
    <wsdl:port name="MembershipServiceSOAP" binding="tns:MembershipServiceSOAP">
      <soap:address location="http://localhost:8080/ProyectoMTIS/services/MembershipService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>