CentrosDeportivos/Web References/SportCenterService/SportCenterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SportCenterService/" name="SportCenterService" targetNamespace="http://www.example.org/SportCenterService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SportCenterService/">
      <xsd:element name="getSportCenter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_sc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSportCenterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sportCenter" type="tns:SportCenter" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SportCenter">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="img" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="fields" type="tns:Field" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="sports" type="tns:Sport" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Field">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="id_sc" type="xsd:int" />
          <xsd:element name="id_sport" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Sport">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="id_sc" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSportCenters">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getSportCentersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="centers" type="tns:SportCenter" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSports">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_sc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSportsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="sports" type="tns:Sport" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_sport" type="xsd:int" />
            <xsd:element name="id_sc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="fields" type="tns:Field" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSportCentersResponse">
    <wsdl:part name="parameters" element="tns:getSportCentersResponse" />
  </wsdl:message>
  <wsdl:message name="getFieldsRequest">
    <wsdl:part name="parameters" element="tns:getFields" />
  </wsdl:message>
  <wsdl:message name="getSportsRequest">
    <wsdl:part name="parameters" element="tns:getSports" />
  </wsdl:message>
  <wsdl:message name="getSportsResponse">
    <wsdl:part name="parameters" element="tns:getSportsResponse" />
  </wsdl:message>
  <wsdl:message name="getFieldsResponse">
    <wsdl:part name="parameters" element="tns:getFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="getSportCenterRequest">
    <wsdl:part name="parameters" element="tns:getSportCenter" />
  </wsdl:message>
  <wsdl:message name="getSportCenterResponse">
    <wsdl:part name="parameters" element="tns:getSportCenterResponse" />
  </wsdl:message>
  <wsdl:message name="getSportCentersRequest">
    <wsdl:part name="parameters" element="tns:getSportCenters" />
  </wsdl:message>
  <wsdl:portType name="SportCenterService">
    <wsdl:operation name="getSportCenter">
      <wsdl:input message="tns:getSportCenterRequest" />
      <wsdl:output message="tns:getSportCenterResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSportCenters">
      <wsdl:input message="tns:getSportCentersRequest" />
      <wsdl:output message="tns:getSportCentersResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSports">
      <wsdl:input message="tns:getSportsRequest" />
      <wsdl:output message="tns:getSportsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFields">
      <wsdl:input message="tns:getFieldsRequest" />
      <wsdl:output message="tns:getFieldsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SportCenterServiceSOAP" type="tns:SportCenterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSportCenter">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getSportCenter" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSportCenters">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getSportCenters" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSports">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getSports" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFields">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getFields" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportCenterService">
    <wsdl:port name="SportCenterServiceSOAP" binding="tns:SportCenterServiceSOAP">
      <soap:address location="http://localhost:8080/ProyectoMTIS/services/SportCenterService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>