MatchMaking/WebContent/WSDL/MatchMakingNotificacionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/MatchMakingNotificacionService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MatchMakingNotificacionService" targetNamespace="http://www.example.org/MatchMakingNotificacionService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/MatchMakingNotificacionService/">
      <xsd:element name="Notify" type="tns:Notify"></xsd:element>

      <xsd:complexType name="Notify">
      	<xsd:sequence>
      		<xsd:element name="equipo_notificado" type="xsd:int"></xsd:element>
      		<xsd:element name="equipo_contrincante" type="xsd:int"></xsd:element>
      		<xsd:element name="partido" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RespuestaBooleana" type="xsd:boolean"></xsd:element>
      <xsd:element name="TeamId" type="xsd:int"></xsd:element>
      <xsd:element name="ListaNotificaciones"
      	type="tns:NotificacionesPartidos">
      </xsd:element>
      
    
      <xsd:complexType name="NotificacionPartido">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      		<xsd:element name="equipo_notificado" type="xsd:int"></xsd:element>
      		<xsd:element name="equipo_rival" type="xsd:int"></xsd:element>
      		<xsd:element name="partido" type="xsd:int"></xsd:element>
      		<xsd:element name="notificacion" type="xsd:string"></xsd:element>
      		<xsd:element name="leida" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="NotificacionesPartidos">
      	<xsd:sequence>
      		<xsd:element name="lista" type="tns:NotificacionPartido" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="NotifyId" type="xsd:int"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="notifyTeamRequest">
    <wsdl:part element="tns:Notify" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="notifyTeamResponse">
    <wsdl:part element="tns:RespuestaBooleana" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNotifyTeamListRequest">
  	<wsdl:part name="parameters" element="tns:TeamId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNotifyTeamListResponse">
  	<wsdl:part name="parameters" element="tns:ListaNotificaciones"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="readNotifyRequest">
  	<wsdl:part name="parameters" element="tns:NotifyId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="readNotifyResponse">
  	<wsdl:part name="parameters" element="tns:RespuestaBooleana"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteNotifyRequest">
  	<wsdl:part name="parameters" element="tns:NotifyId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteNotifyResponse">
  	<wsdl:part name="parameters" element="tns:RespuestaBooleana"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MatchMakingNotificacionService">
    <wsdl:operation name="notifyTeam">
      <wsdl:input message="tns:notifyTeamRequest"/>
      <wsdl:output message="tns:notifyTeamResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getNotifyTeamList">
    	<wsdl:input message="tns:getNotifyTeamListRequest"></wsdl:input>
    	<wsdl:output message="tns:getNotifyTeamListResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readNotify">
    	<wsdl:input message="tns:readNotifyRequest"></wsdl:input>
    	<wsdl:output message="tns:readNotifyResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteNotify">
    	<wsdl:input message="tns:deleteNotifyRequest"></wsdl:input>
    	<wsdl:output message="tns:deleteNotifyResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MatchMakingNotificacionServiceSOAP"
  	type="tns:MatchMakingNotificacionService">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="notifyTeam">

  		<soap:operation
  			soapAction="http://www.example.org/MatchMakingNotificacionService/notifyTeam" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getNotifyTeamList">

  		<soap:operation
  			soapAction="http://www.example.org/MatchMakingNotificacionService/getNotifyTeamList" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="readNotify">

  		<soap:operation
  			soapAction="http://www.example.org/MatchMakingNotificacionService/readNotify" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="deleteNotify">

  		<soap:operation
  			soapAction="http://www.example.org/MatchMakingNotificacionService/deleteNotify" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchMakingNotificacionService">
    <wsdl:port binding="tns:MatchMakingNotificacionServiceSOAP" name="MatchMakingNotificacionServiceSOAP">
      <soap:address location="http://localhost:10080/MatchMaking/services/MatchMakingNotificacionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
