ProyectoMTIS/WebContent/SportCentreNotification.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SportCentreNotification/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SportCentreNotification" targetNamespace="http://www.example.org/SportCentreNotification/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SportCentreNotification/">
      <xsd:element name="sendRegistration">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="memberCode" type="xsd:string" />
          	<xsd:element name="sportCentre" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendRegistrationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendBooking">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="booking" type="xsd:int"></xsd:element>
      			<xsd:element name="sportCentre" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="sendBookingResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="teamCreated">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="team" type="xsd:int"></xsd:element>
      			<xsd:element name="sportCentre" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="teamCreatedResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="teamSignedOn">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="team" type="xsd:int"></xsd:element>
      			<xsd:element name="sportCentre" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="teamSignedOnResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendRegistrationRequest">
    <wsdl:part element="tns:sendRegistration" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sendRegistrationResponse">
    <wsdl:part element="tns:sendRegistrationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sendBookingRequest">
  	<wsdl:part name="parameters" element="tns:sendBooking"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendBookingResponse">
  	<wsdl:part name="parameters" element="tns:sendBookingResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="teamCreatedRequest">
  	<wsdl:part name="parameters" element="tns:teamCreated"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="teamCreatedResponse">
  	<wsdl:part name="parameters" element="tns:teamCreatedResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="teamSignedOnRequest">
  	<wsdl:part name="parameters" element="tns:teamSignedOn"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="teamSignedOnResponse">
  	<wsdl:part name="parameters" element="tns:teamSignedOnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SportCentreNotification">
    <wsdl:operation name="sendRegistration">
      <wsdl:input message="tns:sendRegistrationRequest"/>
      <wsdl:output message="tns:sendRegistrationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendBooking">
    	<wsdl:input message="tns:sendBookingRequest"></wsdl:input>
    	<wsdl:output message="tns:sendBookingResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teamCreated">
    	<wsdl:input message="tns:teamCreatedRequest"></wsdl:input>
    	<wsdl:output message="tns:teamCreatedResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teamSignedOn">
    	<wsdl:input message="tns:teamSignedOnRequest"></wsdl:input>
    	<wsdl:output message="tns:teamSignedOnResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SportCentreNotificationSOAP" type="tns:SportCentreNotification">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendRegistration">
      <soap:operation soapAction="http://www.example.org/SportCentreNotification/sendRegistration"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportCentreNotification">
    <wsdl:port binding="tns:SportCentreNotificationSOAP" name="SportCentreNotificationSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
