ProyectoMTIS/WebContent/SportCenterService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SportCenterService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SportCenterService" targetNamespace="http://www.example.org/SportCenterService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SportCenterService/">
      <xsd:element name="getSportCenter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_sc" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSportCenterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sportCenter" type="tns:SportCenter"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="SportCenter">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="description" type="xsd:string"></xsd:element>
      		<xsd:element name="img" type="xsd:string"></xsd:element>
      		<xsd:element name="fields" type="tns:Field" minOccurs="0"
      			maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="sports" type="tns:Sport" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Field">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      		<xsd:element name="id_sc" type="xsd:int"></xsd:element>
      		<xsd:element name="id_sport" type="xsd:int"></xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Sport">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      		<xsd:element name="id_sc" type="xsd:int"></xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSportCenters">
      	<xsd:complexType>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getSportCentersResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="centers" type="tns:SportCenter" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getSports">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id_sc" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getSportsResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="sports" type="tns:Sport" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getFields">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id_sport" type="xsd:int"></xsd:element>
      			<xsd:element name="id_sc" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getFieldsResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="fields" type="tns:Field" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSportCenterRequest">
    <wsdl:part element="tns:getSportCenter" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getSportCenterResponse">
    <wsdl:part element="tns:getSportCenterResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getSportCentersRequest">
  	<wsdl:part name="parameters" element="tns:getSportCenters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSportCentersResponse">
  	<wsdl:part name="parameters" element="tns:getSportCentersResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSportsRequest">
  	<wsdl:part name="parameters" element="tns:getSports"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSportsResponse">
  	<wsdl:part name="parameters" element="tns:getSportsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFieldsRequest">
  	<wsdl:part name="parameters" element="tns:getFields"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFieldsResponse">
  	<wsdl:part name="parameters" element="tns:getFieldsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SportCenterService">
    <wsdl:operation name="getSportCenter">
      <wsdl:input message="tns:getSportCenterRequest"/>
      <wsdl:output message="tns:getSportCenterResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getSportCenters">
    	<wsdl:input message="tns:getSportCentersRequest"></wsdl:input>
    	<wsdl:output message="tns:getSportCentersResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSports">
    	<wsdl:input message="tns:getSportsRequest"></wsdl:input>
    	<wsdl:output message="tns:getSportsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFields">
    	<wsdl:input message="tns:getFieldsRequest"></wsdl:input>
    	<wsdl:output message="tns:getFieldsResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SportCenterServiceSOAP" type="tns:SportCenterService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSportCenter">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getSportCenter"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSportCenters">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getSportCenters"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSports">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getSports"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFields">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportCenterService">
    <wsdl:port binding="tns:SportCenterServiceSOAP" name="SportCenterServiceSOAP">
      <soap:address location="http://localhost:8080/ProyectoMTIS/services/SportCenterService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
