ProyectoMTIS/WebContent/TeamService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TeamService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeamService" targetNamespace="http://www.example.org/TeamService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/TeamService/">
      <xsd:element name="createTeam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="team" type="tns:Team"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createTeamResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="message" type="xsd:string" />
          	<xsd:element name="ok" type="xsd:boolean"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Team">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="sport" type="xsd:string"></xsd:element>
      		<xsd:element name="players" type="tns:Player" minOccurs="5" maxOccurs="20"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Player">
      	<xsd:sequence>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="email" type="xsd:string"></xsd:element>
      		<xsd:element name="VIP" type="xsd:boolean"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteTeam">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteTeamResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"></xsd:element>
      			<xsd:element name="boolean" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTeam">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="team" type="tns:Team"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTeamResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"></xsd:element>
      			<xsd:element name="boolean" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="notifyPlayers">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="players" type="tns:Player" minOccurs="5" maxOccurs="20"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="notifyPlayersResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTeamRequest">
    <wsdl:part element="tns:createTeam" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createTeamResponse">
    <wsdl:part element="tns:createTeamResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteTeamRequest">
  	<wsdl:part name="parameters" element="tns:deleteTeam"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTeamResponse">
  	<wsdl:part name="parameters" element="tns:deleteTeamResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTeamRequest">
  	<wsdl:part name="parameters" element="tns:updateTeam"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTeamResponse">
  	<wsdl:part name="parameters" element="tns:updateTeamResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyPlayersRequest">
  	<wsdl:part name="parameters" element="tns:notifyPlayers"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyPlayersResponse">
  	<wsdl:part name="parameters" element="tns:notifyPlayersResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TeamService">
    <wsdl:operation name="createTeam">
      <wsdl:input message="tns:createTeamRequest"/>
      <wsdl:output message="tns:createTeamResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
    	<wsdl:input message="tns:deleteTeamRequest"></wsdl:input>
    	<wsdl:output message="tns:deleteTeamResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTeam">
    	<wsdl:input message="tns:updateTeamRequest"></wsdl:input>
    	<wsdl:output message="tns:updateTeamResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyPlayers">
    	<wsdl:input message="tns:notifyPlayersRequest"></wsdl:input>
    	<wsdl:output message="tns:notifyPlayersResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeamServiceSOAP" type="tns:TeamService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createTeam">
      <soap:operation soapAction="http://www.example.org/TeamService/createTeam"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamService">
    <wsdl:port binding="tns:TeamServiceSOAP" name="TeamServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
