ProyectoMTIS/WebContent/TournamentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TournamentService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TournamentService" targetNamespace="http://www.example.org/TournamentService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/TournamentService/">
      <xsd:element name="getTournament">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTournamentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tournament" type="tns:Tournament"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Tournament">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="sport" type="xsd:string"></xsd:element>
      		<xsd:element name="sportCentre" type="xsd:int"></xsd:element>
      		<xsd:element name="teams" type="xsd:int" minOccurs="0"
      			maxOccurs="28">
      		</xsd:element>
      		<xsd:element name="info" type="xsd:string"></xsd:element>
      		<xsd:element name="startDate" type="xsd:string"></xsd:element>
      		<xsd:element name="endDate" type="xsd:string"></xsd:element>
      		<xsd:element name="playing" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteTournament">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteTournamentResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"></xsd:element>
      			<xsd:element name="ok" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="addTeam">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="teamID" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="addTeamResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"></xsd:element>
      			<xsd:element name="inserted" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTournament">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="tournament" type="tns:Tournament"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTournamentResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"></xsd:element>
      			<xsd:element name="ok" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getTeam">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getTeamResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="validateInscription">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="teamID" type="xsd:int"></xsd:element>
      			<xsd:element name="tournamentID" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="validateInscriptionResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"></xsd:element>
      			<xsd:element name="valid" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getTournamentRequest">
    <wsdl:part element="tns:getTournament" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getTournamentResponse">
    <wsdl:part element="tns:getTournamentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteTournamentRequest">
  	<wsdl:part name="parameters" element="tns:deleteTournament"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTournamentResponse">
  	<wsdl:part name="parameters" element="tns:deleteTournamentResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addTeamRequest">
  	<wsdl:part name="parameters" element="tns:addTeam"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addTeamResponse">
  	<wsdl:part name="parameters" element="tns:addTeamResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTournamentRequest">
  	<wsdl:part name="parameters" element="tns:updateTournament"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTournamentResponse">
  	<wsdl:part name="parameters" element="tns:updateTournamentResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamRequest">
  	<wsdl:part name="parameters" element="tns:getTeam"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamResponse">
  	<wsdl:part name="parameters" element="tns:getTeamResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateInscriptionRequest">
  	<wsdl:part name="parameters" element="tns:validateInscription"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateInscriptionResponse">
  	<wsdl:part name="parameters" element="tns:validateInscriptionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TournamentService">
    <wsdl:operation name="getTournament">
      <wsdl:input message="tns:getTournamentRequest"/>
      <wsdl:output message="tns:getTournamentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteTournament">
    	<wsdl:input message="tns:deleteTournamentRequest"></wsdl:input>
    	<wsdl:output message="tns:deleteTournamentResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTeam">
    	<wsdl:input message="tns:addTeamRequest"></wsdl:input>
    	<wsdl:output message="tns:addTeamResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTournament">
    	<wsdl:input message="tns:updateTournamentRequest"></wsdl:input>
    	<wsdl:output message="tns:updateTournamentResponse"></wsdl:output>
    </wsdl:operation>    <wsdl:operation name="validateInscription">    	<wsdl:input message="tns:validateInscriptionRequest"></wsdl:input>    	<wsdl:output message="tns:validateInscriptionResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TournamentServiceSOAP" type="tns:TournamentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTournament">
      <soap:operation soapAction="http://www.example.org/TournamentService/getTournament"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TournamentService">
    <wsdl:port binding="tns:TournamentServiceSOAP" name="TournamentServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
