ProyectoMTIS/WebContent/ValidatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ValidatorSerive/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ValidatorSerive" targetNamespace="http://www.example.org/ValidatorSerive/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ValidatorSerive/">
      <xsd:element name="validateNIF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nif" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateNIFResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="message" type="xsd:string" />
          	<xsd:element name="valid" type="xsd:boolean"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateMemberCode">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="code" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="validateMemberCodeResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"></xsd:element>
      			<xsd:element name="valid" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="validateNIFRequest">
    <wsdl:part element="tns:validateNIF" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="validateNIFResponse">
    <wsdl:part element="tns:validateNIFResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="validateMemberCodeRequest">
  	<wsdl:part name="parameters" element="tns:validateMemberCode"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateMemberCodeResponse">
  	<wsdl:part name="parameters" element="tns:validateMemberCodeResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ValidatorService">
    <wsdl:operation name="validateNIF">
      <wsdl:input message="tns:validateNIFRequest"/>
      <wsdl:output message="tns:validateNIFResponse"/>
    </wsdl:operation>
    <wsdl:operation name="validateMemberCode">
    	<wsdl:input message="tns:validateMemberCodeRequest"></wsdl:input>
    	<wsdl:output message="tns:validateMemberCodeResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidatorSeriveSOAP" type="tns:ValidatorService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateNIF">
      <soap:operation soapAction="http://www.example.org/ValidatorSerive/validateNIF"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidatorService">
    <wsdl:port binding="tns:ValidatorSeriveSOAP" name="ValidatorSeriveSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
