ProyectoMTIS/WebContent/WEB-INF/services/SportCenterService/META-INF/BookingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BookingService" targetNamespace="http://www.example.org/BookingService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/BookingService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/BookingService/">
      <xsd:element name="validateBooking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="booking" type="tns:Booking"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateBookingResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="message" type="xsd:string"/>
          	<xsd:element name="ok" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Booking">
      	<xsd:sequence>
      		<xsd:element name="code" type="xsd:int"/>
      		<xsd:element name="userNumber" type="xsd:string"/>
      		<xsd:element name="total" type="xsd:float"/>

      		<xsd:element name="payMethodSelected" type="xsd:string"/>
      		<xsd:element name="sport" type="xsd:string"/>
      		<xsd:element name="idField" type="xsd:int"/>
      		<xsd:element name="date" type="xsd:string"/>


      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createBooking">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="booking" type="tns:Booking"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="createBookingResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"/>
      			<xsd:element name="ok" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelBooking">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="booking" type="tns:Booking"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelBookingResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"/>
      			<xsd:element name="ok" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getBooking">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="bookingCode" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getBookingResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="booking" type="tns:Booking"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="sendBooking">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="booking" type="tns:Booking"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="sendBookingResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getFields">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="sportCenter" type="xsd:string"/>
      			<xsd:element name="date" type="xsd:string"/>


      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getFieldsResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="fields" type="tns:Field">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Field">
      	<xsd:sequence>
      		<xsd:element name="name" type="xsd:string"/>

      		<xsd:element name="startDate" type="xsd:string"/>
      		<xsd:element name="endDate" type="xsd:string"/>
      		<xsd:element name="sportCenter" type="xsd:string"/>
      		<xsd:element name="disponibility" type="xsd:boolean"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="validateMethod">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="payMethod" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="validateMethodResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendBookingResponse">
    <wsdl:part name="parameters" element="tns:sendBookingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBookingResponse">
    <wsdl:part name="parameters" element="tns:createBookingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateMethodResponse">
    <wsdl:part name="parameters" element="tns:validateMethodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateMethodRequest">
    <wsdl:part name="parameters" element="tns:validateMethod">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendBookingRequest">
    <wsdl:part name="parameters" element="tns:sendBooking">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateBookingRequest">
    <wsdl:part name="parameters" element="tns:validateBooking">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateBookingResponse">
    <wsdl:part name="parameters" element="tns:validateBookingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingResponse">
    <wsdl:part name="parameters" element="tns:cancelBookingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBookingResponse">
    <wsdl:part name="parameters" element="tns:getBookingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFieldsResponse">
    <wsdl:part name="parameters" element="tns:getFieldsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingRequest">
    <wsdl:part name="parameters" element="tns:cancelBooking">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFieldsRequest">
    <wsdl:part name="parameters" element="tns:getFields">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBookingRequest">
    <wsdl:part name="parameters" element="tns:createBooking">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBookingRequest">
    <wsdl:part name="parameters" element="tns:getBooking">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookingService">
    <wsdl:operation name="validateBooking">
      <wsdl:input message="tns:validateBookingRequest">
    </wsdl:input>
      <wsdl:output message="tns:validateBookingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBooking">
      <wsdl:input message="tns:createBookingRequest">
    </wsdl:input>
      <wsdl:output message="tns:createBookingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <wsdl:input message="tns:cancelBookingRequest">
    </wsdl:input>
      <wsdl:output message="tns:cancelBookingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooking">
      <wsdl:input message="tns:getBookingRequest">
    </wsdl:input>
      <wsdl:output message="tns:getBookingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFields">
      <wsdl:input message="tns:getFieldsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getFieldsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookingServiceSOAP" type="tns:BookingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateBooking">
      <soap:operation soapAction="http://www.example.org/BookingService/validateBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBooking">
      <soap:operation soapAction="http://www.example.org/BookingService/createBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <soap:operation soapAction="http://www.example.org/BookingService/cancelBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooking">
      <soap:operation soapAction="http://www.example.org/BookingService/getBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFields">
      <soap:operation soapAction="http://www.example.org/BookingService/getFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingService">
    <wsdl:port name="BookingServiceSOAP" binding="tns:BookingServiceSOAP">
      <soap:address location="http://localhost:9080/ProyectoMTIS/services/BookingService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
