ProyectoMTIS/WebContent/WEB-INF/services/SportCenterService/META-INF/SportCenterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SportCenterService" targetNamespace="http://www.example.org/SportCenterService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/SportCenterService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SportCenterService/">
      <xsd:element name="getSportCenter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_sc" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSportCenterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sportCenter" type="tns:SportCenter"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="SportCenter">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"/>
      		<xsd:element name="name" type="xsd:string"/>
      		<xsd:element name="description" type="xsd:string"/>
      		<xsd:element name="img" type="xsd:string"/>
      		<xsd:element maxOccurs="unbounded" minOccurs="0" name="fields" type="tns:Field">
      		</xsd:element>
      		<xsd:element maxOccurs="unbounded" minOccurs="0" name="sports" type="tns:Sport"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Field">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"/>
      		<xsd:element name="id_sc" type="xsd:int"/>
      		<xsd:element name="id_sport" type="xsd:int"/>
      		<xsd:element name="name" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Sport">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"/>
      		<xsd:element name="id_sc" type="xsd:int"/>
      		<xsd:element name="name" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSportCenters">
      	<xsd:complexType>

      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getSportCentersResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="centers" type="tns:SportCenter"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSportCentersResponse">
    <wsdl:part name="parameters" element="tns:getSportCentersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSportCenterRequest">
    <wsdl:part name="parameters" element="tns:getSportCenter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSportCenterResponse">
    <wsdl:part name="parameters" element="tns:getSportCenterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSportCentersRequest">
    <wsdl:part name="parameters" element="tns:getSportCenters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SportCenterService">
    <wsdl:operation name="getSportCenter">
      <wsdl:input message="tns:getSportCenterRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSportCenterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSportCenters">
      <wsdl:input message="tns:getSportCentersRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSportCentersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SportCenterServiceSOAP" type="tns:SportCenterService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSportCenter">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getSportCenter"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSportCenters">
      <soap:operation soapAction="http://www.example.org/SportCenterService/getSportCenters"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportCenterService">
    <wsdl:port name="SportCenterServiceSOAP" binding="tns:SportCenterServiceSOAP">
      <soap:address location="http://localhost:8080/ProyectoMTIS/services/SportCenterService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
